.CoinPage-Container{
    display: flex;
}
.CoinPage-Sidebar {
    display: flex;
    flex-direction: column;
    width: "15%";
    align-items: center;
    margin-top: 25;
    border-right: 2px solid grey;
}
